*.log
*.log.*
*.pid
*.seed
*.pid.lock
*.bin
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.idea/
*.sublime-project
*.sublime-workspace
__pycache__/
*.pyc
*.pyo
*.pyd
/dist/
/build/
*.egg-info/
*.egg
.eggs/
/venv/
/.venv/
/env/
/virtualenv/
/venv-linux/
/htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
/x64/
/Debug/
/Release/
/bin/
/obj/
*.VC.db
*.exe
*.dll
*.lib
*.ilk
*.pdb
*.obj
*.tlog
*.exp
*.map
*.pch
*.suo
*.user
*.vcxproj.user
/node_modules/
/dist/
/.quasar/
*.mszip
out.txt
/uploads/
/tmp/
skaffold
skaffold.exe
.DS_Store
.AppleDouble
.LSOverride
._*
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
desktop.ini
$RECYCLE.BIN/
test.txt
test2.txt
